<footer class="main-footer">
    <div class="pull-right hidden-xs">
      <b>Version</b> 2.4.0
    </div>
    <strong>Copyright &copy; 2014-2016 <a href="https://adminlte.io">Almsaeed Studio</a>.</strong> All rights
    reserved.
  </footer>

  <!-- Add the sidebar's background. This div must be placed
       immediately after the control sidebar -->
  <div class="control-sidebar-bg"></div>
</div>
<!-- ./wrapper -->

<!-- jQuery 3 -->
<script src="../../bower_components/jquery/dist/jquery.min.js"></script>
<!-- Bootstrap 3.3.7 -->
<script src="../../bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<!-- Slimscroll -->
<script src="../../bower_components/jquery-slimscroll/jquery.slimscroll.min.js"></script>
<!-- FastClick -->
<script src="../../bower_components/fastclick/lib/fastclick.js"></script>
<!-- AdminLTE App -->
<script src="../../dist/js/adminlte.min.js"></script>
<!-- AdminLTE for demo purposes -->
<script src="../../dist/js/demo.js"></script>
<script src="../../javascript/bootbox.min.js"></script>
<script>
$('.add_university').click(function(){
  $("#addUniversityModal input[type=hidden][name=action]").val('add');
  $("#addUniversityModal input[type=hidden][name=university_uuid]").val('');
  $('#addUniversityModal button[type=submit]').html('Add');
  $('#addUniversityModal').modal('show');
});

function getUniversity(university_uuid){
  $.ajax({
    url: '/universities/edit',
    type: 'GET',
    data: {
      university_uuid : university_uuid
    },
    success: function(data){
      $("#addUniversityModal input[type=hidden][name=action]").val('edit');
      $("#addUniversityModal input[type=hidden][name=university_uuid]").val(data.Item.SK);
      $("#addUniversityModal input[name=university_address]").val(data.Item.address);
      $("#addUniversityModal input[name=university_name]").val(data.Item.name);
      $('#addUniversityModal button[type=submit]').html('Update');
      $("#addUniversityModal").modal("show");
    },
    error: function(err){
      console.log(err);
    }
  });
}

function deleteUniversity(university_uuid){

  bootbox.confirm("Are you sure you want to delete?", function(result){ 
    if(result){
      $.ajax({
        url: '/universities/delete',
        type: 'GET',
        data: {
          university_uuid : university_uuid
        },
        success: function(data){
          window.location.reload();
        },
        error: function(err){
          console.log(err);
        }
      });
    } 
  });
}
$('.add_course').click(function(){
  $("#addCourseModal input[type=hidden][name=action]").val('add');
  $("#addCourseModal input[type=hidden][name=course_uuid]").val('');
  $('#addCourseModal button[type=submit]').html('Add');
  $('#addCourseModal').modal('show');
});

function getCourse(course_uuid){
  $.ajax({
    url: '/courses/edit',
    type: 'GET',
    data: {
      course_uuid : course_uuid
    },
    success: function(data){
      $("#addCourseModal input[type=hidden][name=action]").val('edit');
      $("#addCourseModal input[type=hidden][name=course_uuid]").val(data.Item.SK);
      $("#addCourseModal select").val(data.Item.university_uuid);
      $("#addCourseModal input[name=course_name]").val(data.Item.name);
      $('#addCourseModal button[type=submit]').html('Update');
      $("#addCourseModal").modal("show");
    },
    error: function(err){
      console.log(err);
    }
  });
}

function deleteCourse(course_uuid){

  bootbox.confirm("Are you sure you want to delete?", function(result){ 
    if(result){
      $.ajax({
        url: '/courses/delete',
        type: 'GET',
        data: {
          course_uuid : course_uuid
        },
        success: function(data){
          window.location.reload();
        },
        error: function(err){
          console.log(err);
        }
      });
    } 
  });
}
</script>